.head-title {
  padding-bottom: 0px;
  font-size: 30px;
}

.post-info {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.subreddit {
  color: rgb(255, 51, 0);
}

.dot {
  font-weight: bold;
}

h1:not(.head-title) {
  font-size: 23px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

pre code {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  font-size: 15px;
}

.full-post-footer {
  margin-top: 20px;
}
