.pagination {
  margin: 35px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.paginationButtons {
  display: flex;
  align-items: center;
}

.paginationButton:hover {
  cursor: pointer;
}

.pageNr {
  font-size: 18px;
}

.deactivated {
  color: rgb(154, 154, 154);
}

.deactivated:hover {
  cursor: default;
}

.dropdown {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.166);
  padding: 2px;
  border-radius: 3px;
}

.paginationButtons {
  margin: auto;
  display: flex;
  gap: 15px;
}

.postsPerPage {
  margin-left: 15px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
}
