.pagination {
  margin: 35px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.paginationButtons {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 15px;
}

.pageNr {
  font-size: 18px;
}

.paginationButton:hover {
  cursor: pointer;
}

.deactivated {
  color: rgb(154, 154, 154);
}
