.pagination {
  margin: 35px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 15px;
  justify-content: center;
}

.page-nr {
  font-size: 18px;
}

.pagination-button:hover {
  cursor: pointer;
}

.deactivated {
  color: rgb(154, 154, 154);
}
