.postInFeed {
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dot {
  font-weight: bold;
}

.scoreAndComments {
  font-weight: bold;
  display: flex;
  gap: 10px;
}
