.post-footer {
  display: flex;
  gap: 20px;
}

.link-to-post {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff3700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-to-post:hover {
  background-color: #ca2c00;
}

.stats {
  display: flex;
  gap: 18px;
}

.stats * {
  display: flex;
  align-items: center;
  gap: 5px;
}
