.postInList {
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.postInList:hover {
  background-color: rgb(239, 238, 238);
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.postTitle {
  margin: 0;
}

.dot {
  font-weight: bold;
}

.linkAndStats {
  display: flex;
  gap: 20px;
}

.linkToPost {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff3700;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.linkToPost:hover {
  background-color: #ca2c00;
}

.stats {
  display: flex;
  gap: 18px;
}

.stats * {
  display: flex;
  align-items: center;
  gap: 5px;
}
