.app {
  padding: 2rem 4rem;
}

.content {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}

.categoriesSection {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 2rem;
  height: fit-content;
}

.categories {
  margin-top: 20px;
}

.category {
  margin: 8px;
  cursor: pointer;
}

.chosen {
  font-weight: bold;
  text-decoration: underline;
  color: #f8270b;
}

.card {
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 15rem;
}

.dot {
  font-weight: bold;
}

.navigation {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navButton:hover {
  cursor: pointer;
}

.lol {
  text-align: center;
}

li {
  margin-top: 7px;
  list-style-type: none;
}
