.app {
  padding: 25px 50px;
}

.logo {
  width: 220px;
  cursor: pointer;
}

.page-content {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  gap: 20px;
}

@media screen and (min-width: 1400px) {
  .app {
    padding: 50px 125px;
  }
}
